<button name="Regresar" routerLink="/app-vacantes-listado">
  Seguir buscando
</button>

<br>

<div >
  
  <div>
    <h2>Detalles de la vacante</h2>
  </div>

  <div>
    <h3>{{titulo}}</h3> <br>

    <p>

    id:                  {{id}} <br>
    descripcion:         {{descripcion}} <br>
    id_reclutador:       {{id_reclutador}} <br>
    rango_inicial:       {{rango_inicial}} <br>
    rango_final:         {{rango_final}} <br>
    estatus_vacante:     {{estatus_vacante}} <br>
    estado_pais:         {{estado_pais}} <br>
    ciudad:              {{ciudad}} <br>
    categoria:           {{categoria}} <br>
    campo_justificacion: {{campo_justificacion}} <br>

    </p>
  </div>

  <button>
    Postularse a esta vacante!
  </button>

</div>


<hr/>

<h2>SUGERENCIAS</h2>

<app-vacantes-listado></app-vacantes-listado>
