<nav>
  <a *ngIf="isValidate">Perfil</a>
  <button routerLink="/registro" *ngIf="isValidate" routerLinkActive="active" (click)= "isValidateC()">Cerrar Sesión</button>
</nav>
<app-filtros (usuarioSeleccionado)="setSeleccionado($event)" (usuarioSeleccion)="setSeleccion($event)" ></app-filtros>
<div class="md-form active-pink active-pink-2 mb-3">
  <br>
  <input [(ngModel)]="textInput" class="form-control" type="search" id="search1" aria-label="Search" mdbInput>
  <button type="button" class="btn btn-primary" (click)="filterData()">Buscar</button>
</div>
