
<p>Ingrese un Nombre de usuario</p>
<input type="text" [(ngModel)]="username"/>

<br>

<p>Ingrese su correo</p>
<input type="email" [(ngModel)]="email" />

<br>

<p>Ingrese su telefono</p>
<input [(ngModel)]="telefono"/> 

<br>

<p>Ingrese su fecha de nacimiento</p>
<input type="date" [(ngModel)]="fecha_nacimiento" />

<br>

<p>Ingrese su estado actual</p>
<select  [(ngModel)]="estado">
  <option value="Aguascalientes">Aguascalientes</option>
  <option value="Baja California">Baja California</option>
  <option value="Baja California Sur">Baja California Sur</option>
  <option value="Campeche">Campeche</option>
  <option value="Chiapas">Chiapas</option>
  <option value="Chihuahua">Chihuahua</option>
  <option value="Coahuila">Coahuila</option>
  <option value="Colima">Colima</option>
  <option value="CDMX">Ciudad de México</option>
  <option value="Durango">Durango</option>
  <option value="Estado de México">Estado de México</option>
  <option value="Guanajuato">Guanajuato</option>
  <option value="Guerrero">Guerrero</option>
  <option value="Hidalgo">Hidalgo</option>
  <option value="Jalisco">Jalisco</option>
  <option value="Michoacán">Michoacán</option>
  <option value="Morelos">Morelos</option>
  <option value="Nayarit">Nayarit</option>
  <option value="Nuevo León">Nuevo León</option>
  <option value="Oaxaca">Oaxaca</option>
  <option value="Puebla">Puebla</option>
  <option value="Querétaro">Querétaro</option>
  <option value="Quintana Roo">Quintana Roo</option>
  <option value="San Luis Potosí">San Luis Potosí</option>
  <option value="Sinaloa">Sinaloa</option>
  <option value="Sonora">Sonora</option>
  <option value="Tabasco">Tabasco</option>
  <option value="Tamaulipas">Tamaulipas</option>
  <option value="Tlaxcala">Tlaxcala</option>
  <option value="Veracruz">Veracruz</option>
  <option value="Yucatán">Yucatán</option>
  <option value="Zacatecas">Zacatecas</option>
</select>
<br>

<p>Ingrese su genero</p>
<select [(ngModel)]="genero">
  <option value="M">Masculino</option>
  <option value="F">Femenino</option>

</select>

<br>
<p>Imagen de perfil</p>
<input type="file" (change)="fileChangeEvent($event)" />
<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    [resizeToWidth]="128"
    format="png"
    (imageCropped)="imageCropped($event)"
></image-cropper>

<img [src]="croppedImage" />
<br>

<p>Subir Curriculum</p>
<input type="file"  />

<br>

<p>Crear Curriculum</p>
<select [(ngModel)]="value" (change)="changeCrearCurriculum($event)">
  <option value="true">Si</option>
  <option value="false">No</option>
  
</select>


<div *ngIf="crear_curriculum">
    <label>Foto para CV</label>
    <input type="file" (change)="fileChangeEventCV($event)" />
    <image-cropper 
        [imageChangedEvent]="imageChangedEventCV"
        [maintainAspectRatio]="true"
        [aspectRatio]="4 / 3"
        [resizeToWidth]="128"
        format="png"
        (imageCropped)="imageCroppedCV($event)"
      ></image-cropper>

    <img [src]="croppedImageCV" />
    <br>

    <label>Estudios</label>
    <textarea></textarea>
    <br>

    <label>Experiencia Laboral</label>
    <textarea></textarea>
    <br>



    <input type="submit" (click)="guardarCV()" text="Guardar CV"/>
</div>

<br>

<input type="submit" (click) = "registrar()"/>